div#marque {
    padding-top: 50px;
    background-image: url(/images/9.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    border: 2px solid darkgray;
    color: snow;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 30px
}

form#formulaireMarque {
    fieldset {
        border-style: dashed;
        width: 300px;
        margin-right: 50px;
        margin-bottom: 50px;
        background: rgba(100%, 100%, 100%, 0.5);
        display: flex;
        flex-wrap: wrap;
        border-radius: 10%;



        input {
            height: 50px;
            width: 280px;
            margin: 10px;

        }


    }
}

fieldset#tabMarque {
    background: rgba(100%, 100%, 100%, 0.5);
    width: 50%;
    margin-bottom: 50px;

    table {
        width: 100%;
        background: black;
        opacity: 0.8;
        padding: 10px
    }

    table thead tr td {
        width: 150px;
        background-color: #333;
        color: #fff;
    }

    td {
        border: 1px solid #333;
        text-align: center;

    }



    input.checkbox {
        width: 50px;
        height: 50px;

    }



}

button {
    height: 50px;
    width: 300px;
    font-size: 30px;
    border-radius: 10% 10% 30% 30%;
    transition: .5s
}

button:hover {
    background: dodgerblue;
    color: snow;
    transition: .5s
}

button.buttonModif {
    width: 150px
}

button.buttonModif:hover {
    width: 150px;
    border-radius: 60% 0% 0% 60%
}

legend {
    color: dodgerblue;
    background: black;
    opacity: 0.8;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 10%;
    font-size: 30px
}
