<%- include partial/head.ejs %>
<section id="contact">

    <div id="commentDiv">
        <input type="number" class="inputContact" placeholder="votre id" min="1" autocomplete="off" value="">
        <input type="number" class="inputContact" placeholder="id de la marque" min="1" autocomplete="off" value="">
        <input type="number" class="inputContact" placeholder="id du produit" min="1" autocomplete="off" value="">
        <input type="text" id="commentaire" placeholder="Laissez votre message ici" autocomplete="off" value="">
        <button type="submit" id="">Envoyer</button>
    </div>


</section>
<%- include partial/footer.ejs %>
